@model WebStore.ViewModels.ProductsViewModel

    @{
        ViewBag.Title = "Products";
    }
    <h2>Hedinn&John's excellent webstore</h2>
    <ul class="nav nav-pills">
    @foreach (var item in Model.categories.ToList())
    {

        if (Model.SelectedID == item.ID)
        {
            <li class="active"><a href="@Url.Action("Category", "Products", new { id = item.ID })">@Html.DisplayFor(y => item.name)</a></li>
        }
        else
        {
            <li><a href="@Url.Action("Category", "Products", new { id = item.ID })">@Html.DisplayFor(y => item.name)</a></li>
        }
    }
        @if (Model.SelectedID == 0)
        {
            <li class="active"><a href="@Url.Action("Index", "Products")"  id="allcategories">All Categories</a></li>
        }
        else 
        {
            <li><a href="@Url.Action("Index", "Products")" id="allcategories">All Categories</a></li>
        }
    </ul>
    <br /><br />
    @foreach (var item in Model.products.ToList())
    {

        <div class="container-fluid">
            <div class="col">
                <div class="col-md-3">
                    <div class="productbox">
                        <img src="http://lorempixel.com/400/200/" class="img-responsive" alt="image">
                        <div class="producttitle">@Html.DisplayFor(modelItem => item.name)</div>
                        <p class="text-justify">@Html.DisplayFor(modelItem => item.description)</p>
                        <div class="productprice">
                            <div class="pull-right">
                                <a href="@Url.Action("Details", "Products", new { id = item.ID } )" class="btn btn-success btm-sm" role="button">Details</a>
                            </div>
                            <div class="pricetext">
                                <a href="@Url.Action("Edit", "Products", new { id = item.ID } )" class="btn btn-warning">
                                    Edit
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
